.wrapper {
  margin-top: 100px;
}

.container {
  width: 992px;
}

h1 {
  margin-bottom: 21.44px;
}

h3 {
  margin-top: 18.72px;
  margin-bottom: 18.72px;
}

hr {
  margin-top: 0.5em;
}

/* BLOCCO LEZIONI */
#lezioni .row > .left,
#lezioni .row > .right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row > .left,
#steps .row > .central,
#steps .row > .right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row > .first,
#why .row > .second,
#why .row > .third {
  width: 100%;
  margin-top: 80px;
}

#why .container:nth-child(2),
#why .container:nth-child(3),
#why .container:nth-child(4) {
  margin-top: 80px;
}

#why .col-lg-12 img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
  height: 260px;
}

/* COMMON */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}
